<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify phone</title>
</head>
<body>
    <form action="#" method="POST">
        {% csrf_token %}
            <label>
                <p>
                    Number:
                    <input type="text" name="number" value="{{phone.number}}"> must start with "+"
                </p>
            </label>
            <label>
                <p>
                    Type:
                    <input type="text" name="type" value="{{phone.type}}">
                </p>
            </label>
            <label>
                <p>
               <input type="submit" value="Save">
                </p>
            </label>
    </form>
</body>
</html>